plugins: ["@shopify/prettier-plugin-liquid"]
printWidth: 150
trailingComma: "es5"
tabWidth: 2
semi: true
singleQuote: false
overrides:
  - files: "*.md"
    options:
      proseWrap: "preserve"
  - files: "*.liquid"
    options:
      parser: "liquid-html"
